@inject NavigationManager NavManager

<div class="top-row px-4 auth">
    <LoginDisplay />
</div>

<div class="content">
    <nav class="flex-column">
        <NavLink class="d-flex" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="d-flex" href="proposals">
            <span class="oi oi-list" aria-hidden="true"></span> Список заявок
        </NavLink>
    </nav>
</div>