<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["ClearTask.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />

    <!-- Add Blazorise styles -->
    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap5/bootstrap5.css" rel="stylesheet" />
    <link href="_content/Blazorise.Icons.FontAwesome/fontawesome.css" rel="stylesheet" />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Blazorise/blazorise.js"></script>
    <script src="_content/Blazorise.Bootstrap5/bootstrap5.js"></script>
    <script src="_content/Blazorise.Icons.FontAwesome/fontawesome.js"></script>
    <script src="_content/Blazorise.DataGrid/data-grid.js"></script>
</body>

</html>